{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%",
          "not ie <= 11",
          "not op_mini all",
          "not ie_mob <= 100",
          "not ie < 100",
          "not op_mob <= 30",
          "not android < 60",
          "not samsung < 6"]
      }
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    ["transform-imports", {
      "vuetify": {
        "transform": "vuetify/es5/components/${member}",
        "preventFullImport": true
      }
    }]
  ],
  "env": {
    "es5": {
      "presets": [
        ["es2015"],
        ["stage-2"]
      ],
      "plugins": [
        "./build/babel-transform-stylus-paths.js",
        ["transform-define", "./build/babel-transform-define.js"]
      ]
    }
  }
}
