.DS_Store
node_modules/
/dist/
/build/*/es5/
/build/*_backup/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

yarn.lock
package-lock.json

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

/plugins/icons.js
