colors(theme, name)
  {name}
    text
      fill: theme.text
    .tile
      fill: theme.tileFill
      stroke: theme.tileStroke
    line
      stroke: theme.lineStroke
    .possible
      fill: theme.possible
    .waiting
      fill: theme.tileWaiting
    .token-1
      fill: theme.t1
    .token-2
      fill: theme.t2
    .line-1
      stroke: theme.l1
    .line-2
      stroke: theme.l2

  .theme--light {name}
    .symbol-1
      fill: theme.s1
    .symbol-2
      fill: theme.s2

  .theme--dark {name}
    .symbol-1
      fill: theme.s1
    .symbol-2
      fill: theme.s2
