colors(theme, name)
  {name}
    text
      fill: theme.text
    .tile
      fill: theme.tileFill
      stroke: theme.tileStroke
    line
      stroke: theme.lineStroke
    .possible
      fill: theme.possible
    .waiting
      fill: theme.tileWaiting
    .token-1
      fill: theme.t1
    .token-2
      fill: theme.t2
    .line-1
      stroke: theme.l1
    .line-2
      stroke: theme.l2

  .theme--light {name}
    .symbol-1
      fill: theme.s1
    .symbol-2
      fill: theme.s2

  .theme--dark {name}
    .symbol-1
      fill: theme.s1
    .symbol-2
      fill: theme.s2

blackAndWhite(theme, name)
  .theme--dark {name} .symbol-1
    fill: #000

  {name}
    .player-2 .player-status.icon
      fill: rgba(0,0,0,0.87)
    .player-2 .counter
      color: rgba(0,0,0,0.87)

  .theme--light {name}
    .symbol-2
      fill: #E0E0E0

  .theme--dark {name}
    .symbol-2
      stroke: theme.s2

  // .theme--light {name} .player-timer
  //   stroke: theme.tileFill !important
  // .theme--dark {name} .player-timer
  //   stroke: theme.possible !important

  // {name}.preview-icon
  //   .tile
  //     stroke: theme.lineStroke
  //     stroke-width: 1
