gomokuTheme = {
  tileFill: #FFB74D,
  text: darken(#E65100, 20%),
  possible: #FFB74D,
  tileStroke: #212121,
  lineStroke: #212121,
  waiting: #bdbdbd,
  waitingDark: #616161,
  tileWaiting: #FFB74D,
  t1: rgba(0, 0, 0, 1),
  t2: rgba(255, 255, 255, 1),
  s1: #000,
  s2: #fff,
  l1: rgba(0, 0, 0, .87),
  l2: rgba(255, 255, 255, .87),
}

@require "./colors"

colors(gomokuTheme, '.gomoku-theme')

.preview .gomoku-theme polyline
  stroke-width: 2

.gomoku-theme
  polyline.winner-1
    stroke: gomokuTheme.t2
  polyline.winner-2
    stroke: gomokuTheme.t1

  .theme--dark polyline
    stroke: rgba(127,127,127,0.78)

  .player-2 .player-status.icon
    fill: rgba(0,0,0,0.87)

  .player-2 .counter
    color: rgba(0,0,0,0.87)

.theme--light .gomoku-theme
  .symbol-2
    fill: #E0E0E0
.theme--dark .gomoku-theme
  .symbol-2
    stroke: gomokuTheme.s2

.theme--light .gomoku-theme .player-timer
  stroke: gomokuTheme.w1 !important

.theme--dark .gomoku-theme .player-timer
  stroke: gomokuTheme.tileFill !important
