hexCheckersTheme = {
  tileFill: #A1887F,
  text: darken(#3E2723, 20%),
  tileOdd: #EFEBE9,
  possible: #fff,
  tileStroke: #212121,
  lineStroke: #212121,
  waiting: #E0E0E0,
  waitingDark: #616161,
  tileWaiting: #A1887F,
  t1: #3E2723,
  t2: #fff,
  s1: #3E2723,
  s2: #fff,
  l1: #3E2723,
  l2: #3E2723,
}

@require "./colors"

colors(hexCheckersTheme, '.hex-checkers-theme')
