hexTheme = {
  tileFill: #fff,
  possible: #fff,
  tileStroke: #212121,
  lineStroke: #212121,
  waiting: #E0E0E0,
  waitingDark: #616161,
  tileWaiting: #fff,
  t1: #F57C00,
  t2: #1E88E5,
  s1: #F57C00,
  s2: #1E88E5,
  l1: #F57C00,
  l2: #1E88E5,
}

@require "./colors"

colors(hexTheme, '.hex-theme')

.theme--dark .hex-theme
  .tile
    fill: #212121;
    stroke: #616161;
  text
    fill: #616161;
