millsTheme = {
  tileFill: #A1887F,
  tileOdd: #EFEBE9,
  possible: #fff,
  tileStroke: #212121,
  lineStroke: #212121,
  waiting: #E0E0E0,
  waitingDark: #616161,
  tileWaiting: #A1887F,
  t1: #3E2723,
  t2: #fff,
  s1: #3E2723,
  so1: #3E2723,
  s2: #fff,
  so2: #3E2723,
  l1: #3E2723,
  l2: #3E2723,
  b1: #D7CCC8,
  b2: #D7CCC8,
  w1: #3E2723,
  w2: #3E2723,
}

@require "./colors"

colors(millsTheme, '.mills-theme')

.mills-theme
  rect, polygon
    fill: #FFECB3 !important
  polygon
    fill: #FFE57F !important
  line
    shape-rendering: crispEdges

  rect
    stroke: millsTheme.tileStroke
    stroke-width: 2
  rect.preview
    stroke-width: 1
