qirkatTheme = {
  tileFill: #B71C1C,
  text: darken(#B71C1C, 50%)
  tileOdd: #EFEBE9,
  possible: #FF5252,
  tileStroke: #212121,
  lineStroke: #212121,
  waiting: #E0E0E0,
  waitingDark: #616161,
  tileWaiting: #B71C1C,
  t1: #212121,
  t2: #fff,
  s1: #212121,
  s2: #fff,
  l1: #3E2723,
  l2: #3E2723,
}

@require "./colors"

colors(qirkatTheme, '.qirkat-theme')

.qirkat-theme
  .tile:not(.possible)
    stroke-width: 0

  .tile.possible:not(.waiting)
    stroke-width: 1
    stroke: qirkatTheme.possible

  .tile
    stroke: qirkatTheme.tileFill

  rect
    stroke: qirkatTheme.lineStroke
    stroke-width: 3
    fill: qirkatTheme.tileFill

.preview .qirkat-theme rect
  stroke-width: 1

.theme--dark .qirkat-theme .symbol-1
    fill: #000

.qirkat-theme
  .player-2 .player-status.icon
    fill: rgba(0,0,0,0.87)
  .player-2 .counter
    color: rgba(0,0,0,0.87)

.theme--light .qirkat-theme
  .symbol-2
    fill: #E0E0E0

.theme--dark .qirkat-theme
  .symbol-2
    stroke: qirkatTheme.s2

.theme--light .qirkat-theme .player-timer
  stroke: qirkatTheme.tileFill !important
.theme--dark .qirkat-theme .player-timer
  stroke: qirkatTheme.possible !important
