tactickleTheme = {
  tileFill: #fff,
  possible: #BDBDBD,
  tileStroke: #212121,
  lineStroke: #212121,
  waiting: #E0E0E0,
  waitingDark: #616161,
  tileWaiting: #E0E0E0,
  t1: #F57C00,
  t2: #1E88E5,
  s1: #F57C00,
  so1: #F57C00,
  s2: #1E88E5,
  so2: #1E88E5,
  l1: #F57C00,
  l2: #1E88E5,
  b1: #FFE0B2,
  b2: #BBDEFB,
  w1: #F57C00,
  w2: #1E88E5,
}

@require "./colors"

colors(tactickleTheme, '.tactickle-theme')

.tactickle-theme
  .tile
    transition: none !important
  .possible.value-1
  .possible.value-2
  .possible.value-1.angle-0
  .possible.value-2.angle-0
  .possible.value-1.angle-30
  .possible.value-2.angle-30
    fill: tactickleTheme.tileFill;
  .possible.angle-0
    fill: url(#stripes1);
  .possible.angle-30
    fill: url(#stripes2);
  .possible.waiting
  .possible.waiting.angle-30
  .possible.waiting.angle-0
    fill: tactickleTheme.tileFill;

.theme--dark .tactickle-theme
  .tile
    fill: #212121;
    stroke: #616161;

.theme--dark .tactickle-theme
  .possible.angle-0
    fill: url(#stripes1);
  .possible.angle-30
    fill: url(#stripes2);

.theme--dark .tactickle-theme
  .possible.value-1
  .possible.value-2
    fill: #212121;
