.info-snack
  padding-bottom: 20px !important
  padding-left: 16px !important
  padding-right: 16px !important
.info-snack > *
  border-radius: 9px !important
  min-height: 60px !important

.preview-mini .tile
  stroke-width: 0 !important

.preview-mini rect
  stroke-width: 0 !important

.gpu
  transform: translate3d(0,0,0)

.preview-md > *
  vector-effect: non-scaling-stroke

html:-webkit-full-screen
  width: 100%
  height: 100%


text
  pointer-events: none
  touch-action: none
  opacity: 0.67

html
  touch-action: manipulation;

a
  text-decoration: none

a[target="_blank"]
  text-decoration: underline

#top-dialog {
  align-items: flex-start;
}

#top-dialog > .dialog {
  margin-top: 0;
}

svg *
  user-select: none

svg *::selection
  background: none
