xs = '(max-width: 599px), (max-height: 599px)'

.tile
  stroke-width: 3
  stroke-linejoin: bevel
  @media xs
    stroke-width: 2
line
  stroke-width: 3
  pointer-events: none

.symbol-1
.symbol-2
  stroke-width: 0

.line-1
.line-2
  stroke-width: 9
  stroke-linecap: round
  stroke-linejoin: round
  @media xs
    stroke-width: 5

rect
  fill: none

.preview
  .tile
  line
    stroke-width: 1

#stripes1
#stripes2
  rect
    fill: #212121
.theme--dark
  #stripes1
  #stripes2
    rect
      fill: #757575

polyline
  fill: none
  stroke-width: 18
  stroke: rgba(0,0,0,0.78)
  stroke-linecap: round
  stroke-linejoin: round
  // stroke-dasharray: 18,24
  @media xs
    stroke-width: 9
    // stroke-dasharray: 9,12

.preview polyline
  stroke-width: 5

.theme--dark polyline
  stroke: rgba(255,255,255,0.78)

.stone
  // transition: transform 0.2s ease-in-out
  stroke-linejoin: round
  // stroke-dasharray: 18,24
  @media xs
    stroke-width: 9
    // stroke-dasharray: 9,12

  .theme--dark polyline
    stroke: rgba(255,255,255,0.78)

// .stone
//   transition: transform 0.2s ease-in-out

.player .player-status.icon
  fill: #fff

.player .counter
  color: #fff

.theme--light .symbol--1
  fill: none
.theme--dark .symbol--1
  fill: none

.theme--light .player-score
  color: rgba(0,0,0,0.54)
