@require "./vuetify"

@require "./styles"
style(theme)

@require "./themes/reversi"
@require "./themes/gomoku"
@require "./themes/tactickle"
@require "./themes/hex-checkers"
@require "./themes/hex"
@require "./themes/plastic"
@require "./themes/checkers"
@require "./themes/mills"
@require "./themes/qirkat"
