@require "./styles/vuetify"
@require "./styles/scrollbar"
@require "./styles/app"

@require "./styles/game"

@include "./themes/colors"

@require "./themes/reversi"
@require "./themes/gomoku"
@require "./themes/tac-tickle"
@require "./themes/checkers-hex"
@require "./themes/hex"
@require "./themes/plastic"
@require "./themes/checkers"
@require "./themes/mills"
@require "./themes/qirkat"
