@require "./vuetify"

@require "./styles"
style(theme)

@require "./themes/reversi"
@require "./themes/gomoku"
@require "./themes/tacticle"
@require "./themes/hex-checkers"
@require "./themes/hex"
@require "./themes/plastic"
@require "./themes/checkers"
@require "./themes/mills"
@require "./themes/qirkat"


// .theme--dark .gomoku-theme
//   .symbol-1
//     stroke: gomokuTheme.s1
//   .symbol-2
//     stroke: gomokuTheme.s2

// .theme--dark
//   .tacticle-theme
//   .gomoku-theme
//   .plastic-theme
//     .draw .timer
//       border-bottom: 3px solid theme.waitingDark !important
// .theme--dark
//   .tacticle-theme
//   .gomoku-theme
//   .plastic-theme
//     .player-2, .player-1
//       &.waiting .timer
//         border-bottom: 3px solid theme.waitingDark !important
