xs = '(max-width: 599px), (max-height: 599px)'
bar = 3px

style()
  // polygon
  // path
  .tile
    stroke-width: 3
    @media xs
      stroke-width: 2
  line
    stroke-width: 3

  .symbol-1
  .symbol-2
    stroke-width: 2

  .line-1
  .line-2
    stroke-width: 9
    stroke-linecap: round
    stroke-linejoin: round
    @media xs
      stroke-width: 5

  .timer
    background-color: #fff
    height: 0

  .theme--dark .timer
    background-color: #424242

  .active, .win, .draw
    .timer
      height: bar

  .timer-wrap
    background-color: #E0E0E0
    overflow: hidden

  .theme--dark .timer-wrap
    background-color: #757575

  rect
    fill: none

  .preview
    // polygon
    .tile
    line
      stroke-width: 1
    path.tile
      stroke-width: 0.5

  #stripes1
  #stripes2
    rect
      fill: #212121
  .theme--dark
    #stripes1
    #stripes2
      rect
        fill: #757575

  polyline
    fill: none
    stroke-width: 18
    stroke: rgba(0,0,0,0.78)
    stroke-linecap: round
    stroke-linejoin: round
    // stroke-dasharray: 18,24
    @media xs
      stroke-width: 9
      // stroke-dasharray: 9,12

  .theme--dark polyline
    stroke: rgba(255,255,255,0.78)

.stone
  transition: transform 0.2s ease-in-out
  stroke-linejoin: round
  // stroke-dasharray: 18,24
  @media xs
    stroke-width: 9
    // stroke-dasharray: 9,12

  .theme--dark polyline
    stroke: rgba(255,255,255,0.78)

.stone
  transition: transform 0.2s ease-in-out

.info-snack
  padding-bottom: 20px !important
  padding-left: 16px !important
  padding-right: 16px !important
.info-snack > *
  border-radius: 9px !important
  min-height: 60px !important

.preview-mini .tile
  stroke-width: 0 !important

.preview-mini rect
  stroke-width: 0 !important

.gpu
  transform: translate3d(0,0,0)

.preview-md > *
  vector-effect: non-scaling-stroke

html:-webkit-full-screen
  width: 100%
  height: 100%

@import "../../node_modules/vuetify/src/stylus/settings/_theme.styl"

@media (min-width: 1264px)
  // #oax
  //   #main .content > .container:hover::-webkit-scrollbar
  //     display: initial
  //   #main .content > .container::-webkit-scrollbar
  //     display: none

  ::-webkit-scrollbar
    height: 12px
    width: 12px

  ::-webkit-scrollbar-track-piece:vertical
    background-color: transparent
    border-left: 1px solid $material-light.dividers

  ::-webkit-scrollbar-track-piece:horizontal
    background-color: transparent
    border-top: 1px solid $material-light.dividers

  ::-webkit-scrollbar-thumb:vertical
  ::-webkit-scrollbar-thumb:horizontal
    background-color: rgba(196, 196, 196, .5)
    border: 1px solid $material-light.dividers

  ::-webkit-scrollbar-thumb:vertical:hover
  ::-webkit-scrollbar-thumb:horizontal:hover
    background-color: rgba(196, 196, 196, .75)

  ::-webkit-scrollbar-thumb:vertical:active
  ::-webkit-scrollbar-thumb:horizontal:active
    background-color: rgba(128, 128, 128, .5)

  .theme--dark
    ::-webkit-scrollbar-track-piece:vertical
      border-left: 1px solid $material-dark.dividers

    ::-webkit-scrollbar-track-piece:horizontal
      border-top: 1px solid $material-dark.dividers

    ::-webkit-scrollbar-thumb:vertical
    ::-webkit-scrollbar-thumb:horizontal
      border: 1px solid $material-dark.dividers

text
  pointer-events: none
  opacity: 0.67
