@media only screen and (max-width: 599px)
  .toolbar .toolbar__content > .btn:first-child, .toolbar .toolbar__extension > .btn:first-child
    margin-left: 8px !important;
  .toolbar .toolbar__content > .btn:last-child, .toolbar .toolbar__extension > .btn:last-child
    margin-right: 8px !important;
.toolbar__title
  margin-left: 0 !important;

.theme--dark .icon
  fill: #fff;

.theme--light .icon
  fill: rgba(0,0,0,0.54);

.white--text.icon
  fill: #fff !important

.grey--text.text--darken-3 {
  fill: #424242 !important;
}
